.blog{
    margin: 90px 0;
}
.blog__subtitle{
    font-family: 'Niconne', cursive;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    color: var(--text-accent-color);
    text-align: center;
}

.blog__title{
    margin-top: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 34px;
    line-height: 49px;
    color: var(--text-title-color);
    text-align: center;
}

.blog__content-container{
    display: flex;
    flex-direction: column;
    padding: 45px 0;
}

.blog__article{
    margin: 20px 0;
}

.blog__article-image-container{
    overflow: hidden;
    position: relative;
}

.blog__article-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.blog__article-title{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 22px;
    line-height: 49px;
    color: var(--text-title-color);
    margin-top: 30px;
}
.blog__article-text{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    color: var(--text-description-paragraph-color);
    margin: 20px 0;
}
.blog__article-button{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: var(--text-why-us-title-color);
    transition: all 0.5s;
}
.blog__article-button:hover{
    text-decoration: underline;
}

@media (min-width: 768px){
    .blog__content-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
    }
}