.why-us__background-gradient{
    background-image: url(../img/why-us-gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
}

.why-us__background-banner{
    background-image: url(../img/why-us-banner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    background-position: 44% 50%;
}

.why-us__background-gradient-last {
    background-image: url(../img/why-us-gradient-last.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
}

.why-us__container{
    padding-top: 90px;
    padding-bottom: 90px;
}

.why-us__subtitle{
    font-family: 'Niconne', cursive;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    color: var(--text-why-us-subtitle-color);
}
.why-us__title{
    margin-top: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 34px;
    line-height: 49px;
    color: var(--text-why-us-title-color);
}

.why-us__main-text{
    font-family: 'Lato', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        color: var(--text-why-us-text-main-color);
        margin: 20px 0;
}

.why-us__text {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-why-us-text-color);
    margin: 20px 0;
}
.why-us_details-container{
    margin: 25px;
}
.why-us__details{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: auto;
}

.why-us_details-image-container{
    width: 60px;
    height: 60px;
    background: var(--background-why-us-icon-color);
    border-radius: 50%;
    margin: auto;
}
.why-us_details-image{
    max-width: 50px;
    max-height: 50px;
    margin: auto;
    padding-top: 10px;
}

.why-us__details-text{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-why-us-text-icon-color);
    padding-top: 20px;
    margin: auto;
    text-align: center;
}

@media (min-width: 768px){
    .why-us__background-banner {
        background-position: 25% 50%;
    }
    .why-us__container{
        padding-left: 50%;
    }
    .why-us_details-container{
        display: flex;
        flex-direction: row;
    }
    
}